p {
    font-size: 18px;
    margin: 0;
}

input {
    width: 100%;
    text-align: right;
    border: none;
}

input[type=text] {
    font-size: 16px;
}

input[type=number] {
    font-size: 28px;
}

.flex-container {
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.flex-container * {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.calculator {
    width: 600px;
    height: fit-content;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 50px auto;
}

.display {
    align-items: flex-end;
    margin: 10px 15px;
}

.button-row {
    flex-wrap: nowrap;
    justify-content: space-between;
}

button {
    font-size: 18px;
    min-width: 37px;
    width: 70px;
    height: 35px;
    background-color: #CBCAFE;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
}

/* mobile device style overrides */

@media only screen and (max-width: 600px) {
    .calculator {
        width: 100vw;
    }
}

/* mobile device style overrides */

@media only screen and (max-device-width: 480px) {
    .display {
        margin: 10px 15px 0 15px;
        padding: 0;
    }
    .calculator {
        width: -webkit-fill-available;
        margin: 10px;
    }
}
