.background {
    background-color: #D3BDEC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background * {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.content {
    background-color: white;
    box-shadow:  5px 8px 20px 5px rgba(0,0,0,0.3);
    min-height: 50vh;
    min-width: 50vh;
    overflow-y: scroll;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    margin-bottom: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: left;
}
